body,td,th {
    font-family: Microsoft YaHei UI;
}

.form_input {
    width: 60%;
}

.frame_left {
	width: 20%;
	height: 100%;
	float:left;
	/*overflow: auto;*/
	background: #CCCCCC;
}

.frame_right {
	width: 80%;
	height: 100%;
	float:left;
}

#log {
	width: 100%;
	height: 100%;
	overflow: auto;
	/*background: #000000;*/
}

.CodeMirror {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 100%;
}
}